<h1>スレッド一覧</h1>

<% @threads.each do |thread| %>
  <%= link_to thread.title %>
  <% if thread.user_id == current_user.id %>
    <%= link_to "編集", edit_my_thread_path(thread) %>
    <%= link_to "削除", "/my_threads/#{thread.id}", method: :delete %>
  <% end %>
  <br>
<% end %>

<br>

<%= link_to '新規スレッド', new_my_thread_path %>